doctype html
html
   head
      title home
      style
         include ./style.css
   body
      include ./navBar.pug
      h1.titre Home Page
      div
         h1 Search
         input(type="text" id="search" name="search")
         button.btn search
      h2 First application express.js     