doctype html
html
    head
        title = "home"
        style
            include ./style.css
    body
        ul.navbar
            li 
                a(href='home') Home
            li
                a(href='ourServices') Services
            li
                a(href='contactUs') Contact    