doctype html
html
    head
        title ourServices
        style
            include ./style.css
    body
        include ./navBar.pug
        h1.titre Our Services
        p My web application is only available in working time (Monday to Friday,  from 9 to 17) 